VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_owner_notification_template_id
VITE_EMAILJS_AUTOREPLY_TEMPLATE_ID=your_auto_reply_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_CONTACT_RECEIVER_EMAIL=akmmasudurrahmangaurab@gmail.com
